*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    margin: 15px;
}
#start-button {
    margin: auto;
    width: 400px;
}
h2{
    text-align: center;
}
.hide{
    display: none;
}
i{
    width: 40px; 
    height: 40px;
}
ul{
    list-style: none;
}